<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('.header') %></h2>
    <div class="card border-primary">
      <div class="card-body">
        <p id="password_status"></p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
          <p>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </p>

          <div class="field">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, class: "form-control" %>
          </div>

          <div class="confirm">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em><%= t( '.password_length', min_chars:@minimum_password_length)%></em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "confirm_password" %>
          </div>

          <div class="actions">
            <%= f.submit t('.button'), class: "btn btn-primary mt-3", id: "submit" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "devise/shared/links" %>
