<h1>Gists</h1>

<table class="table">
  <thead>
    <th scope="col"><%= t('admin.test') %></th>
    <th scope="col"><%= t('admin.question') %></th>
    <th scope="col"><%= t('admin.sender') %></th>
    <th scope="col"><%= t('admin.link') %></th>
  </thead>
    <%= render @gists %>
</table>