<h1><%= t('.header', title:  @test_passage.test.title) %></h1>

<% if @test_passage.passed? %>
	<p class="success"><%= t('.success') %> <%= @test_passage.score %>%</p>
<% elsif @test_passage.expired? %>
	<p class="fail"><%= t('.expired') %></p>
<% else %>
	<p class="fail"><%= t('.fail') %> <%= @test_passage.score %>%</p>
<% end %>
