<footer class="footer text-muted">
  <div class="container">
    <p><%= t('footer.author', year: current_year) %></p>
    <p><%= link_to t('feedbacks.new.header'), feedbacks_path %></p>
    <p><%= t('footer.about') %></p>
    <p><a href="thinknetica.com">Thinknetica</a> <%= t('footer.thinknetica') %> <%= github %></a></p>
  </div>
</footer>