<nav class="navbar navbar-light bg-light p-3">
  <% if current_user&.admin? %>
    <%= link_to t('admin.nav.header'), admin_tests_path, class: "navbar-brand btn btn-outline-primary" %>
  <% end %>

    <%= link_to 'Test-Guru', root_path, class: "navbar-brand btn btn-outline-secondary" %>

  <span class="navbar-text">
    <% if user_signed_in? %>
    <%= link_to current_user.email, user_path %></b> |
    <%= link_to t('header.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.login'), new_user_session_path %> |
      <%= link_to t('.register'), new_user_registration_path %>
    <% end %> 
  </span>
</nav>
