<h1><%= t('.header') %></h1>

<div class="row mt-3">
  <div class="col col-md-4">
    <div class="card border-primary">
      <div class="card-body">
        <%= form_with model: @feedback, local: true do |form| %>
          <%= render 'shared/errors', resource: @feedback %>
          <div class="form-group">
            <p>
              <%= form.label t('.message') %>
              <%= form.text_area :message, rows: 7, cols: 60, class: "form-control" %>
            </p>
            <%= form.submit t('admin.enter'), class: "btn btn-primary" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
