<p>
  <strong><%= t('tests.index.title') %>: </strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('tests.index.level') %>: </strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('tests.index.category') %>: </strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('.author') %>: </strong>
  <%= @test.author.full_name %>
</p>

<p><%= t('.questions') %>:</p>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<div class="mt-2">
  <%= link_to t('.new'), new_admin_test_question_path(@test), class: "btn btn-primary" %>
  <%= link_to t('admin.all_tests'), admin_tests_path, class: "btn btn-info" %>
  <%= link_to t('admin.tests.test.edit'), edit_admin_test_path(@test), class: "btn btn-secondary" %>    
</div>
