<h2><%= t('.header') %></h2>

<table class="table mt-4">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
      <th><%= t('.level') %></th>
      <th><%= t('.category') %></th>
      <th><%= t('.questions') %></th>
      <th></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
