<p>
	<strong>Title: </strong>
	<%= @test.title %>
</p>

<p>
	<strong>Level: </strong>
	<%= @test.level %>
</p>

<p>
	<strong>Category: </strong>
	<%= @test.category.title %>
</p>

<p>Questions:</p>

<%= link_to 'New question', new_test_question_path(@test) %>

<ul>
	<%= render @test.questions %>
</ul>

<p>
	<%= link_to 'All tests', tests_path %> | <%= link_to 'Edit', edit_test_path(@test) %>		
</p>
